.accordion .header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.accordion .header:hover {
    display: flex;
    justify-content: space-between;
}
.accordion .content-editor {    
    max-height: 0rem;
    opacity: 0;
    transition: max-height 0.5s ease, opacity 1.2s ease;
}

.accordion .content-editor.active {    
    max-height: 50rem;
    opacity: 1;
}

.accordion h2 {
    margin: 0;
}