#personal-editor .content-editor.active {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 0.3rem 1rem;
    overflow: scroll;
}

#personal-editor .content-editor.active label {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    gap: 0.3rem;
    align-items: center;
}

#personal-editor .content-editor.active input {
    border-radius: .4rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    color: #333;
    border: 1px solid #ccc;
    background-color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#personal-editor .content-editor.active input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}


#personal-editor .content-editor.active > *:nth-last-of-type(1) {

    grid-template-columns: 0.128fr 1fr;
    grid-column: span 2
}
