.show-data-glob {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 1rem;
    margin: .5rem 0;
}

.data-show {
    position: relative;
    margin: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    padding: 1.2rem;
    opacity: 1;
    transition: transform 0.4s ease-out, opacity 0.4s ease-in;
    max-width: 18.75rem;
}

.data-show:hover {
    transform: scale(1.05);
    background: rgba(211, 211, 211, 0.2);
    .data-res {
        opacity: 0.3;
    };
    .btn {
        opacity: 1;
        z-index: 5;
        cursor: pointer;
    }
}

.data-show .title {
    font-weight: bold;
    font-size: 1.1rem;
}

.data-show .date {
    font-style: italic;
    font-size: 0.8rem;
}

.data-show .btn {
    position: absolute;
    top: 40%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.4s ease-in;
    margin: .2rem;
    width: 40%;
}

.data-show .edit {
    left: 0;
}

.data-show .delete {
    right: 0;
    background-color: red;
}

.add-btn {
    border-radius: .4rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    background-color: #4CAF50;
    color: white;
    margin-left: .1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    grid-column: 1 / -1;
}

.add-btn:hover {
    background-color: #45a049; 
    transform: scale(1.05);
}

.add-btn:focus {
    outline: none; 
    box-shadow: 0 0 5px #4CAF50; 
}