#root {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  height: 100%
}

main #editor-main { 
  grid-area: 1 / 1 / 6 / 4;
 }
main #resume-main { 
  grid-area: 1 / 4 / 6 / 6;
} 