#root {
  margin: 0;
  padding: 0;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(675px, 1fr));
  height: 100%
}


@media (max-width: 680px) {
  main {
    display: flex;
    flex-direction: column;
  }
}

